div{
	height: 20px;
	width: 80px;
	border-color: red;
	background-color: #bcd2ee;
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
	text-align: center;


}
body{
	background-color: #c6e2ff;
}

/*div.hover{
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}*/